{% if data%}
 <script>
    alert('{{data}}'+'가 입력되었습니다.')
 </script>
{% endif %}

{% if message %}
<script>
    alert('{{message}}')
 </script>
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>


    <nav class="navbar navbar-default">
      <div class="container-fluid"/>
            <a class="navbar-brand" href="#">
            <img alt="Brand" src="...">
          </a>

         <ul class="nav navbar-nav navbar-right">
         {% if request.session.uid %}
                <ul><a >{{request.session.name}}님.</a></ul>

                 <ul><a href= "{% url 'logout'%}">로그아웃</a></ul>
         {% endif %}
         </ul>
    </nav>
    <script>

        // Cache 방지 (2017-10-22)

            if("HTTP/1.1".equals(request.getProtocol())) {

                response.setHeader ("Cache-Control", "no-cache, no-store, must-revalidate");

            } else {

                response.setHeader ("Pragma", "no-cache");

            }

            response.setDateHeader ("Expires", 0);

    </script>

    <div class="container">
		<div class="col-lg-4 "></div>
		<div class="col-lg-4">
			<div class="jumbotron jumbotron-fluid" style="padding-top: 50px">

                <form method="get" action="insert" class="sign-up-form">
                  {%csrf_token%}
                     <div class="form-group">
                        <label >구단</label>
                        <input class="form-control" id="user_date" maxlength="15"
                               name="user_date" type="text" placeholder="#리버풀" />

                        <label >순위</label>
                        <input class="form-control" id="user_rank" maxlength="15"
                               name="user_rank" type="text" placeholder="#13" />

                        <label >승점</label>
                        <input class="form-control" id="user_winning" maxlength="15"
                               name="user_winning" type="text" placeholder="#25" />
                    </div>


                    <input type="submit" class="save btn btn-success" value="추가">
                    <a href="{% url 'total_list' %}" class="save btn btn-success" > 전체리그 순위 </a>
                </form>


            </div>

                    <div lass="form-group">
                        {% if detail_team %}
                        <ul>순위     : {{detail_team.rank}}</ul>
                        <ul>팀 이름  : {{detail_team.team_name}}</ul>
                        <ul>승점     : {{detail_team.winning}}</ul>
                        {% endif %}
                    </div>

                    {% if total_list %}
            <div lass="form-group">
`                   <table class="table">
                        <thead>
                            <tr>
                                <th>순위</th>
                                <th>팀</th>
                                <th>승점</th>
                            </tr>
                            {% for loop in total_list %}
                            <tr>

                                <td>{{loop.rank}}</td>
                                <td>{{loop.team_name}}</td>
                                <td>{{loop.winning}}</td>

                            </tr>>
                            {% endfor %}
                        </thead>
                    </table>
             </div>

                    {% endif %}

        </div>

    </div>


</body>
</html>
